[Unit]
Description=ODK Webhook Listener
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/odk-webhook-listener
ExecStart=/usr/local/bin/gunicorn --workers 2 --bind 0.0.0.0:5000 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target